# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\informatika\sortirovka_30_10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
